<div class="columns is-centered">
    <div class="column is-5-desktop is-7-tablet is-12-mobile">
        <div class="level">
            <div class="level-item">
                <img src="/assets/images/angular-logo.svg" width="72" height="55">
                <span class="subtitle is-3">Admin</span>
            </div>
        </div>
        <form action="" novalidate autocomplete="off" #loginForm="ngForm">
            <div class="field">
                <label class="label">Usuario</label>
                <div class="control">
                    <input class="input" [class.is-danger]="name.touched && name.invalid" #name="ngModel" type="text" [(ngModel)]="model.email" name="email" required email />
                    <p class="help is-danger" *ngIf="name.touched && name.invalid">
                        El usuario es requerido, debe ser un email válido.
                    </p>
                </div>
            </div>

            <div class="field">
                <label class="label">Contraseña</label>
                <div class="control">
                    <input class="input" [class.is-danger]="password.touched && password.invalid" #password="ngModel" type="password" [(ngModel)]="model.password" name="password" required minlength="6" />
                    <p class="help is-danger" *ngIf="password.touched && password.invalid">
                        La contraseña es requerida, debe contener al menos 6 caracteres
                    </p>
                </div>
            </div>
            <div class=" field has-text-centered ">
                <p class="help is-danger" *ngIf="error">
                    {{ error }}
                </p>
                <button type="button " class="button is-dark" [class.is-loading]="isLoading" [disabled]="loginForm.invalid" (click)="onClick($event) " style="margin-top: 10px; ">Ingresar</button>
            </div>
        </form>
    </div>
</div>